{#
/**
 * @file
 * Default theme implementation to display a table.
 *
 * Available variables:
 * - organization: 
 * - link_edit_org: 
 * - description: 
 * @ingroup templates
 *
 * @see template_preprocess_consultant_account_info()
 */
#}
<div class="organization info-organization two-columns-orange-header">
 <div class="col-xs-6 no-padding">
   <p><strong> {{description}}  </strong></p>
 </div>
 <div class="col-xs-6 no-padding update-action">
    {% if link_edit_org is not empty %}
      <a class="update-action" href="{{link_edit_org}}">{% trans %}Edit organization{% endtrans %}</a>
    {% endif %}
 </div>
</div>
<div class="header-view info-organization gray-info-container">
  <div class="header-row no-padding row col-xs-12 col-sm-12 col-md-12">
    <div class="field col no-padding align-self-start col-xs-4 col-sm-4 col-md-4">
      {% if organization.consultant_name is not empty %}
        <p class="field-title"> {% trans %} Name {% endtrans %}  </p>
        <p>  {{ organization.consultant_name|raw}} </p>
      {% endif %}
    </div>
    <div class="field col no-padding align-self-start col-xs-6 col-sm-4 col-md-4">
      {% if organization.field_business_name is not empty %}
        <p class="field-title"> {% trans %} Business name {% endtrans %}  </p> 
        <p>  {{ organization.field_business_name|raw}} </p>
      {% endif %}
    </div>
    <div class="field col no-padding align-self-start col-xs-4">
      <p class="field-title"></p>
      <p></p>
    </div>
  </div>
  <div class="header-row no-padding row col-xs-12 col-sm-12 col-md-12">
    <div class="field col no-padding align-self-start col-xs-4 col-sm-4 col-md-4">
      {% if organization.field_street_address_address_line1 is not empty %}
        <p class="field-title"> {% trans %} Address {% endtrans %}  </p> 
        <p>  {{ organization.field_street_address_address_line1|raw}} </p>
      {% endif %}
    </div>
    <div class="field col no-padding align-self-start col-xs-4 col-sm-4 col-md-4">
      {% if organization.field_street_address_locality is not empty %}
        <p class="field-title"> {% trans %} City or town {% endtrans %}  </p> 
        <p>  {{ organization.field_street_address_locality|raw}} </p>
      {% endif %}
    </div>
  </div>
<div class="header-row no-padding row col-xs-12 col-sm-12 col-md-12">
  <div class="field col no-padding align-self-start col-xs-4 col-sm-4 col-md-4">
    {% if organization.field_street_address_administrative_area is not empty %}
        <p class="field-title"> {% trans %} Territory, province or state {% endtrans %}  </p> 
        <p>  {{ organization.field_street_address_administrative_area|raw}} </p>
      {% endif %}
    </div>
    <div class="field col no-padding align-self-start col-xs-4 col-sm-4 col-md-4">
      {% if organization.field_street_address_postal_code is not empty %}
        <p class="field-title"> {% trans %} Postal code {% endtrans %}  </p>
        <p>  {{ organization.field_street_address_postal_code |upper }} </p>
      {% endif %}
    </div>
    <div class="field col no-padding align-self-start col-xs-4 col-sm-4 col-md-4">
      {% if organization.field_street_address_country_code is not empty %}
        <p class="field-title"> {% trans %} Country {% endtrans %}  </p>
        <p> {{ organization.field_street_address_country_code|raw}} </p>
      {% endif %}
    </div>
  </div>
    <div class="header-row no-padding row col-xs-12 col-sm-12 col-md-12">
      <div class="field col no-padding align-self-start col-xs-4 col-sm-4 col-md-4">
        {% if organization.mail is not empty %}
            <p class="field-title">{% trans %}Email{% endtrans %}</p>
            <p>{{organization.mail}}</p>
        {% endif %}
      </div>
      <div class="field col no-padding align-self-start col-xs-4 col-sm-4 col-md-4">
        {% if organization.field_telephone is not empty %}
            <p class="field-title">{% trans %}Telephone{% endtrans %}</p>
            <p>{{organization.field_telephone|raw}}</p>
        {% endif %}
      </div>
    </div>
</div>
